@*@model IEnumerable<AnimalRepair.BLL.DTO.AnimalDTO>*@

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.Identity.IsAuthenticated)
{
   <div>
    @Html.ActionLink("GetAnimal", "Animal")
</div> 
}
@if (User.Identity.IsAuthenticated == false)
{
    <h1>Войдите для просмотра</h1>
}
