@model Animal_Repair.Models.KindOfGenderCreateViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="detailsGridContainer">
    <div>
        <H2>
            -@Html.DisplayFor(model => model.Gender)
        </H2>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-area="" asp-controller="Cart" asp-action="AddAnimalToCart"
           asp-route-animalId="@Url.Content(Model.Id.ToString())">В корзину</a> |
        <a asp-action="Index">Back to List</a>
    </div>
