@model Animal_Repair.Models.AnimalCreateViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="detailsGridContainer">
  <div>
        <img class="Cardimg" src="@Url.Content(Model.Picture)" alt="not found" width="500" height="300" />
  </div>
    <div>
        <H2>
            -@Html.DisplayFor(model => model.KindOfAnimalName)
        </H2>
        <H2>
            -@Html.DisplayFor(model => model.GenderName)
        </H2>
        <H2>
            -Дата рождения: @Html.DisplayFor(model => model.DateOfBirth)
        </H2>
    </div>
    <div class="item3">
        <p>
            @Html.DisplayFor(model => model.Description)
        </p>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
